In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from pandas import Series
%matplotlib inline
#from sklearn.metrics import mean_squared_error

In [19]:
ytrend= pd.read_parquet(r"D:\Github\Youtube_trend_forcasting_project\src\data\raw\0000.parquet")

In [20]:
ytrend.head()

,videostatsid,ytvideoid,views,comments,likes,dislikes,timestamp
0,1,0GLbwkfhYZk,5722228,28229,185188,10860,2019-04-15 04:42:49
1,2,O4NB73HTlxI,3673770,31565,278477,4705,2019-04-15 04:42:50
2,3,VVRcXtSjPcE,253613,1025,4587,87,2019-04-15 04:42:51
3,4,adzYW5DZoWs,21567972,79208,478496,61703,2019-04-15 04:42:51
4,5,p_8yK2kmxoo,2385064,10703,133304,1323,2019-04-15 04:42:52

In [21]:
ytrend.tail()

,videostatsid,ytvideoid,views,comments,likes,dislikes,timestamp
1541123,1541124,sX97g2HyZ_c,409684,1449,24189,231,2020-04-14 23:31:03
1541124,1541125,CtOmeIdgpAY,1095853,9629,82916,698,2020-04-14 23:31:04
1541125,1541126,h0rSYEoBMYM,245930,1145,13298,107,2020-04-14 23:31:05
1541126,1541127,avVPmGBIh0s,753316,591,11431,840,2020-04-14 23:31:05
1541127,1541128,Nkrgb7qIko0,2262074,9664,137604,2383,2020-04-14 23:31:06

In [22]:
df = ytrend.copy()

In [23]:
df.head()

,videostatsid,ytvideoid,views,comments,likes,dislikes,timestamp
0,1,0GLbwkfhYZk,5722228,28229,185188,10860,2019-04-15 04:42:49
1,2,O4NB73HTlxI,3673770,31565,278477,4705,2019-04-15 04:42:50
2,3,VVRcXtSjPcE,253613,1025,4587,87,2019-04-15 04:42:51
3,4,adzYW5DZoWs,21567972,79208,478496,61703,2019-04-15 04:42:51
4,5,p_8yK2kmxoo,2385064,10703,133304,1323,2019-04-15 04:42:52

In [24]:
df.head()

,videostatsid,ytvideoid,views,comments,likes,dislikes,timestamp
0,1,0GLbwkfhYZk,5722228,28229,185188,10860,2019-04-15 04:42:49
1,2,O4NB73HTlxI,3673770,31565,278477,4705,2019-04-15 04:42:50
2,3,VVRcXtSjPcE,253613,1025,4587,87,2019-04-15 04:42:51
3,4,adzYW5DZoWs,21567972,79208,478496,61703,2019-04-15 04:42:51
4,5,p_8yK2kmxoo,2385064,10703,133304,1323,2019-04-15 04:42:52

In [25]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df = df.set_index("timestamp")

In [26]:
df.head()

,videostatsid,ytvideoid,views,comments,likes,dislikes
timestamp,,,,,,
2019-04-15 04:42:49,1,0GLbwkfhYZk,5722228,28229,185188,10860
2019-04-15 04:42:50,2,O4NB73HTlxI,3673770,31565,278477,4705
2019-04-15 04:42:51,3,VVRcXtSjPcE,253613,1025,4587,87
2019-04-15 04:42:51,4,adzYW5DZoWs,21567972,79208,478496,61703
2019-04-15 04:42:52,5,p_8yK2kmxoo,2385064,10703,133304,1323

In [27]:
df.tail()

,videostatsid,ytvideoid,views,comments,likes,dislikes
timestamp,,,,,,
2020-04-14 23:31:03,1541124,sX97g2HyZ_c,409684,1449,24189,231
2020-04-14 23:31:04,1541125,CtOmeIdgpAY,1095853,9629,82916,698
2020-04-14 23:31:05,1541126,h0rSYEoBMYM,245930,1145,13298,107
2020-04-14 23:31:05,1541127,avVPmGBIh0s,753316,591,11431,840
2020-04-14 23:31:06,1541128,Nkrgb7qIko0,2262074,9664,137604,2383